@()
<!DOCTYPE html lang="en">

<html ng-app>
<head>
    <title>Master</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <script data-main='@routes.Assets.at("javascripts/main.js")' src='@routes.WebJarAssets.requirejs' type="text/javascript"></script>
</head>
<body ng-controller="MasterCtrl">

<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Master</a>
        </div>
    </div>


    <h1>Image Server Status</h1>

    <div class="row">
        <div class="span3" ng-repeat="(key, value) in pingData">
            <div ng-class="getBackgroundStyle(value)" width="100%" height="10px">&nbsp;</div>
            <img src="/assets/images/ZX81.jpg" width="100%">
            <div>

            </div>

            <div><button class="btn" ng-disabled="value == 'timeout'" ng-click='openUrl(key)'>{{key}}</button></div>
        </div>

    </div>
</div>

</body>
</html>

